.dash-transactions-sec {
  padding: 10px;
  margin: 10px;
}

.dash-transaction-list {
  list-style-type: none;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
