.mobile-navbar {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
  padding: 8px;
  width: 100vw;
  height: 50px;
}

.mobile-navbar-items {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.navbar-link {
  text-decoration: none;
  color: #475569;
}

.link-el {
  cursor: pointer;
  margin: 0 10px;
}
