body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.vertical-navbar {
  background-color: #ffffff;
  width: 17vw;
  max-width: 220px;
  padding: 8px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid lightgrey;
}

.nav-logo-list-sec {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app-logo {
  max-width: 150px;
  max-height: 50px;
  flex-shrink: 1;
}

.navbar-items {
  list-style-type: none;
  margin-top: 10px;
}

.navbar-link {
  text-decoration: none;
  color: #475569;
}

.list-items {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-profile-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
}

.name-email-container {
  display: flex;
  flex-direction: column;
}

.name-logout-btn-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.react-icon {
  cursor: pointer;
}
