/*
               
*/
.all-transactions-sec {
  padding: 10px;
  margin: 10px;
}

.transactions-list-container {
  list-style-type: none;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.transaction-name-sec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.amount {
  width: 26%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.transaction-name {
  width: 31%;
}

.transaction-para {
  width: 21%;
}

.admin-transactions-list-container {
  list-style-type: none;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.admin-transaction-name {
  width: 26%;
}

.admin-transaction-para {
  width: 19%;
}

.admin-amount {
  width: 22%;
}
